<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<aside>
    <img src="C:\Users\User\Desktop\Python\Django\itprog\main\static\main\img\flag-1192635_640.jpg">
    <span class="logo">Russian</span>
    <h3>Навигация</h3>
    <ul>
        <li><a href="">Путин</a></li>
    </ul>
</aside>
<main>
    {% block content %}

    {% endblock %}
</main>
</body>
</html>
